<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>NBA Store</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>NBA Store</h1>
    </header>

    <main>
        {{{body}}} <!-- Aquí se renderiza el contenido de cada vista -->
    </main>
</body>

</html>